/*--------- # css variable-----------*/
 :root {
     --bs-blue: rgba(0, 51, 161, 1);
     --bs-darkblue: rgba(0, 11, 36, 1);
     --bs-white: #fff;
}
/*--------------- # Fonts ------------------*/
 @font-face {
     font-family: castoro;
     src: url(../fonts/Castoro/Castoro-Regular.ttf);
}
 @font-face {
     font-family: TT Norms Regular;
     src: url(../fonts/TT-Norms-Fonts/TTNorms-Regular.otf);
}
 @font-face {
     font-family: TT Norms;
     src: url(../fonts/TT-Norms-Fonts/TTNorms-Medium.otf);
}
 @font-face {
     font-family: TT Norms Bold;
     src: url(../fonts/TT-Norms-Fonts/TTNorms-Bold.otf);
}
 @font-face {
     font-family: MavenPro Regular;
     src: url(../fonts/maven-pro/MavenPro-Regular.ttf);
}
 @font-face {
     font-family: MavenPro Medium;
     src: url(../fonts/maven-pro/MavenPro-Medium.ttf);
}
 @font-face {
     font-family: MavenPro Bold;
     src: url(../fonts/maven-pro/MavenPro-Bold.ttf);
}
/*---------- # General ------------*/
 body {
     font-family: MavenPro Regular;
     color: #000;
}
 a {
     color: var(--bs-blue);
     text-decoration: none;
}
 a:hover {
     color: var(--bs-blue);
     text-decoration: none;
}
 h1, h2, h3, h4, h5, h6 {
     font-family: castoro;
}
.text-italic{
        font-style: italic;
}
 @media (min-width: 1200px) {
     .container {
         max-width: calc(100% - 96px);
         width: calc(100% - 96px);
    }
}
 @media (min-width: 1200px){
     .container.container-xs {
         max-width: calc(100% - 217px);
         width: calc(100% - 217px);
    }
}
 @media (max-width: 600px) {
     .container {
         padding-left: 21px;
         padding-right: 21px;
    }
}
 @media(min-width:850px) and (max-width:991px){
     .container{
         max-width: 858px;
    }
}
 .mr-btm-56 {
     margin-bottom: 56px;
}
 .mr-btm-32 {
     margin-bottom: 32px;
}
 .lightblue-bg{
     background: rgba(240, 245, 249, 1);
}
 .btn-learn-more:hover{
     background: #011E41;
     color: #fff !important;
}
/*------------ # Header ----------*/
 #header {
     height: auto;
     transition: all 0.5s;
     z-index: 997;
     width: 100%;
     position: absolute;
     transition: all 0.5s;
     padding: 20px 34px 0px 34px;
}
 #header .container-fluid {
     padding: 0px;
     border-bottom: 1px solid#fff;
     -webkit-background-clip: padding-box;
     background-clip: padding-box;
     padding-bottom: 20px;
}
 #header .logo img {
     padding: 0;
     margin: 0;
     max-height: 48px;
}
 @media(max-width:767px){
     #header {
         padding: 15px 21px 0px 21px;
    }
     #header .logo img {
         max-height: 30px;
    }
     #header .container-fluid{
         padding-bottom: 15px;
    }
}
/*------------ # Navigation Menu---------------*/
 .navbar {
     padding: 0;
     opacity: 1;
}
 .navbar ul {
     margin: 0;
     padding: 0;
     display: flex;
     list-style: none;
     align-items: center;
}
 .navbar li {
     position: relative;
}
 .navbar a{
     display: flex;
     align-items: center;
     justify-content: space-between;
     padding: 5px 32px 7px 32px;
     font-size: 16px;
     line-height: 18px;
     color: #fff;
     white-space: nowrap;
     transition: 0.3s;
     text-transform: uppercase;
     border-radius: 50px;
     cursor: pointer;
     font-family: MavenPro Bold;
     display: inline-block;
}
 @media(min-width:1200px){
     .navbar a.active{
         color: #fff;
    }
}
 .navbar a.active::after{
     content: '';
     display: block;
     width: 100%;
     height: 2px;
     background: #fff;
     transition: width .3s;
     margin-top: 4px;
}

 .dropdown a.active::after{
     content: '';
     display: block;
     width: 100%;
     height: 2px;
     background: #2a2c39;
     transition: width .3s;
     margin-top: 4px;
}
 .navbar a::after {
     content: '';
     display: block;
     width: 0;
     height: 2px;
     background: #fff;
     transition: width .3s;
     margin-top: 4px;
}
 .navbar .contactus::after{
     margin-top: 0px;
}
 .navbar a:hover::after {
     width: 100%;
}
 @media(min-width:992px){
     .nav-link:hover {
         color: #fff !important;
    }
     .nav-link:focus {
         color: #fff !important;
    }
}
 @media(max-width:767px){
     .nav-link:focus {
         color: var(--bs-blue) !important;
    }
}
 .navbar .contactus {
     padding: 3px 3px;
     margin-left: 29px;
     border-radius: 0px;
     border: 1px solid rgba(255, 255, 255, 0.5);
}
 .navbar .contactus:hover {
     background: #fff;
     color: #011E41 !important;
}
 .navbar .contactus:hover::after{
     width: 0px;
}
 .navbar a i, .navbar a:focus i {
     font-size: 12px;
     line-height: 0;
     margin-left: 5px;
}
 .navbar .dropdown ul {
     display: block;
     position: absolute;
     left: 35px;
     top: calc(100% + 30px);
     margin: 5px 0 0 0;
     padding: 10px 0;
     z-index: 99;
     opacity: 0;
     visibility: hidden;
     background: #fff;
     box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
     transition: 0.3s;
     border-radius: 0px;
}
 .navbar .dropdown ul li {
     min-width: 200px;
}
 .navbar .dropdown ul a {
     padding: 10px 20px;
     color: #2a2c39;
     margin: 0 5px;
     font-size: 14px;
}
 .navbar .dropdown ul a i {
     font-size: 12px;
}
 .navbar a i, .navbar a:focus i {
     font-size: 14px;
     line-height: 0;
     margin-left: 5px;
}
 .navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover>a {
     color: var(--bs-darkblue);
    ;
}
 .navbar .dropdown:hover>ul {
     opacity: 1;
     top: 100%;
     visibility: visible;
}
 .navbar .dropdown .dropdown ul {
     top: 0;
     left: calc(100% - 30px);
     visibility: hidden;
}
 .navbar .dropdown .dropdown:hover>ul {
     opacity: 1;
     top: 0;
     left: 100%;
     visibility: visible;
}
 @media (max-width: 1400px) {
     .navbar a {
         padding: 5px 22px 7px 22px;
         font-size: 14px;
    }
     .navbar .contactus {
         margin-left: 22px;
    }
}
 @media (min-width:992px) and (max-width: 1200px) {
     #header .logo img {
         max-height: 33px;
    }
     .navbar a {
         padding: 5px 16px 7px 16px;
         font-size: 13px;
    }
     .navbar .divider {
         margin: 0px 16px;
    }
     .navbar .contactus {
         margin-left: 16px;
    }
}
/** * Mobile Navigation */
 .mobile-nav-toggle {
     color: #fff;
     font-size: 28px;
     cursor: pointer;
     display: none;
     line-height: 0;
     transition: 0.5s;
}
 @media (max-width: 991px) {
     .mobile-nav-toggle {
         display: block;
    }
     .navbar ul {
         display: none;
    }
}
 .navbar-mobile {
     position: fixed;
     overflow: hidden;
     top: 0;
     right: 0;
     left: 0;
     bottom: 0;
     background: rgba(20, 21, 28, 0.9);
     transition: 0.3s;
     z-index: 999;
}
 .navbar-mobile .mobile-nav-toggle {
     position: absolute;
     top: 15px;
     right: 15px;
}
 .navbar-mobile ul {
     display: block;
     position: absolute;
     top: 55px;
     right: 15px;
     bottom: 15px;
     left: 15px;
     padding: 10px 0;
     border-radius: 10px;
     background-color: #fff;
     overflow-y: auto;
     transition: 0.3s;
}
 .navbar-mobile a {
     padding: 10px 20px;
     margin: 5px;
     font-size: 15px;
     color: #2a2c39;
}
 .navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover>a {
     color: var(--bs-blue);
}
 .navbar-mobile .getstarted {
     margin: 15px;
}
 .navbar-mobile .dropdown ul {
     position: static;
     display: none;
     margin: 10px 20px;
     padding: 10px 0;
     z-index: 99;
     opacity: 1;
     visibility: visible;
     background: #fff;
     box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
 .navbar-mobile .dropdown ul li {
     min-width: 200px;
}
 .navbar-mobile .dropdown ul a {
     padding: 10px 20px;
     word-wrap: break-word;
     white-space: normal;
}
 .navbar-mobile .dropdown ul a i {
     font-size: 12px;
}

 .navbar-mobile .dropdown>.dropdown-active {
     display: block;
}
/*------- # Hero Section --------------*/
 #hero {
     width: 100%;
}
 #hero .slide-1{
     width: 100%;
     background: linear-gradient(350deg,#011E41 100%, #0033A1 0%, rgba(0, 0, 0, 0.8) 0%);
     background-image: url(../img/home/slide-1.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}
 #hero .slide-2{
     width: 100%;
     background: linear-gradient(350deg,#011E41 100%, #0033A1 0%, rgba(0, 0, 0, 0.8) 0%);
     background-image: url(../img/home/slide-2.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}
 #hero .slide-3{
     width: 100%;
     background: linear-gradient(350deg,#011E41 100%, #0033A1 0%, rgba(0, 0, 0, 0.8) 0%);
     background-image: url(../img/home/slide-3.png);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}
 .slide-1 .imageoverlay{
     background: rgba(0, 0, 0, 0.5);
     position: absolute;
     width: 100%;
     height: 100%;
}
 #hero .carousel-container {
     display: flex;
     justify-content: flex-end;
     align-self: center;
     align-items: flex-start;
     flex-direction: column;
     text-align: left;
     position: relative;
     min-height: 100vh;
     padding-bottom: 70px;
}
 @media(min-width:1280px){
     #hero .container {
         max-width: calc(100% - 278px);
         width: calc(100% - 278px);
    }
}
 #hero .carousel-indicators {
     position: absolute;
     right: unset;
     bottom: 30px;
     left: unset;
     z-index: 2;
     display: flex;
     justify-content: center;
     padding: 0;
     margin-right: 0px;
     justify-content: left;
     margin-left: 0px;
     list-style: none;
     top: unset;
     margin-bottom: 0px;
}
 #hero .carousel-indicators [data-bs-target] {
     box-sizing: content-box;
     flex: 0 1 auto;
     width: 75px;
     height: 5px;
     margin: 0 6px;
}
 #hero .carousel-indicators:first-child [data-bs-target] {
     margin-left: 0px;
}
 #hero .btn-learn-more {
     color: rgba(197, 217, 231, 1);
     font-size: 14px;
     line-height: 16px;
     font-family: MavenPro Regular;
     position: absolute;
     right: 0px;
     bottom: 47px;
}
 #hero .btn-learn-more img {
     margin-right: 5px;
     margin-top: 9px;
}
 #hero .carousel-indicators:focus {
     outline: 0px;
}
 #hero .carousel-indicators .active {
     outline: 0px;
}
 #hero h1 {
         color: #fff;
    font-size: 64px;
    font-weight: 400;
    font-family: castoro;
    line-height: 64px;
    margin-bottom: 20px;
    text-transform: capitalize;
    /* width: 67%; */
}
 #hero .subtext {
     margin-bottom: 32px;
     font-size: 46px;
     line-height: 46px;
}
 #hero .subtext span{
     font-size: 30px;
     margin-left: 12px;
}
 #hero p {
  width: 65%;
    color: #fff;
    font-family: MavenPro Regular;
    font-size: 26px;
    line-height: 33px;
}
 @media(max-width:767px){
     #hero .carousel-container{
         min-height: 25rem;
         padding-bottom: 40px;
    }
     #hero .carousel-indicators{
         bottom: 15px;
    }
     #hero .carousel-indicators [data-bs-target]{
         width: 40px;
         height: 4px;
    }
     #hero .subtext {
         font-size: 18px;
         line-height: 30px;
         margin-bottom: 15px;
    }
     #hero .subtext span{
         font-size: 12px;
    }
     #hero h1{
            font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
    width: 100%;
    
    }
     #hero p{
        font-size: 13px;
    line-height: 15px;
    width: 100%;
    }
}
 @media(min-width:1367px) and (max-width:1439px){
     #hero .subtext {
         font-size: 30px;
         line-height: 30px;
         margin-bottom: 20px;
    }
     #hero h1 {
         font-size: 55px;
         line-height: 55px;
         margin-bottom: 20px;
    }
     #hero p {
         width: 57%;
         font-size: 21px;
         line-height: 28px;
         margin-bottom: 0px;
    }
     #hero .subtext span{
         font-size: 18px;
    }
     #hero .carousel-container{
         padding-bottom: 97px;
    }
}
/*-------- # Sections General-----------*/
 section {
     padding: 64px 0;
     overflow: hidden;
}

 .section-title {
     padding-bottom: 64px;
}
 .section-title h2 {
     font-size: 48px;
     line-height: 60px;
     color: #0033A1;
     padding: 0;
     margin-bottom: 0px;
     font-family: castoro;
}
 .section-title p {
     font-weight: 400;
     font-size: 24px;
     color: #000;
     line-height: 28px;
     margin-bottom: 0px;
}
.section-title.black h2{
    color: #000;
}
.services-associate  .section-title h2 {
   color: #000;
}
.services-associate  .section-title  {
  padding-bottom: 32px;
}
 @media(max-width:767px){
     section{
         padding: 32px 0px;
    }
     .section-title h2 {
         font-size: 32px;
         line-height: 32px;
    }
     .section-title p{
         font-size: 16px;
         line-height: 18px;
    }
     .section-title {
         padding-bottom: 32px;
    }
}
 @media(min-width:1280px) and (max-width:1400px){
     .section-title h2 {
         font-size: 40px;
         line-height: 52px;
    }
}
/*---------- # About -----------*/

 .about .content h3 {
     font-weight: 600;
     font-size: 26px;
}
 .about .section-title {
     padding-bottom: 32px;
}
 .about .rightimg {
     position: absolute;
     right: 0px;
     top: 0px;
}
 .about .content p {
     line-height: 40px;
     font-size: 28px;
     font-family: MavenPro Regular;
     color: #000;
     
}
 .about .content .btn-learn-more {
     font-weight: 700;
     font-size: 18px;
     text-transform: uppercase;
     display: inline-block;
     padding: 21px 39px;
     border-radius: 0px;
     transition: 0.5s;
     line-height: 1;
     line-height: 21px;
     color: #000;
     -webkit-animation-delay: 0.8s;
     animation-delay: 0.8s;
     border: 1px solid #011E41;
}

 @media(max-width:767px){
     .about{
         padding-top: 32px;
         padding-bottom: 32px;
    }
     .about .content .btn-learn-more {
         padding: 19px 34px;
         font-size: 16px;
    }
     .about .content p{
         line-height: 22px;
         font-size: 18px;
    }
}
/*------------- # Services ------------*/
 .services {
     position: relative;
     background: #F5F5F5;
     padding: 0px 0px 0px 0px;
}
 .services .section-title h2 {
     margin-bottom: 12px;
}
 .services .hoverbox{
     color: #fff;
}
.services .btn-learn-more {
    font-weight: 700;
    text-transform: uppercase;
    font-size: 18px;
    display: inline-block;
    padding: 21px 39px;
    border-radius: 0px;
    transition: 0.5s;
    line-height: 21px;
    color:   rgba(197, 217, 231, 1);
    font-family: MavenPro Bold;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    max-width: max-content;
    border: 2px solid  rgba(197, 217, 231, 1);;
}
 .bluebox {
     flex: 0 0 auto;
     width: 50%;
     padding: 0px;
     position: relative;
}
 .bluebox .content {
    background: var(--bs-darkblue);
    width: 100%;
    padding: 72px 70px;
    display: flex;
    flex-direction: column;
    padding-bottom: 65px;
    justify-content: center;
    min-height:100%;
    color: var( --bs-white);
}
.companyintro .bluebox .content{
    min-height: 100%;
    margin: 0px;
}
 .bluebox .content:hover{
     background: rgba(197, 217, 231, 0.5);
     color: var(--bs-darkblue);
}
.companyintro .bluebox .content:hover{
     background: var(--bs-darkblue);
     color: #fff;
}
 .bluebox .btn-learn-more:hover{
     color: var(--bs-darkblue) !important;
}
 .bluebox .content:hover> .btn-learn-more{
     color: var(--bs-darkblue);
     background: transparent;
     border-color: var(--bs-darkblue);
}
 .bluebox .content h3 {
     font-size: 48px;
     font-weight: 400;
     line-height: 60px;
     min-height: auto;
     margin-bottom: 32px;
}
 .bluebox .content p {
        font-size: 20px;
    line-height: 30px;
    margin-bottom: 40px;
    font-family: MavenPro Regular;
    
}
 .bluebox .btn-learn-more {
     bottom: 72px;
     color: #fff;
}
 .bluebox .btn-learn-more i{
     font-size: 50px;
     line-height: 0px;
}
 
.services .bluebox .imagecontent{
     height: 100%;
}
 .bluebox .imagecontent img{
     width: 100%;
     height: 100%;
     object-fit: cover;
}
 @media(max-width:767px){
     .bluebox {
         width: 100%;
    }
     .bluebox .content{
         padding: 32px 32px;
         min-height: 250px;
    }

       .companyintro .bluebox .content{
          min-height: 100%;  
    }
     .bluebox .imagecontent {
         height: auto;
    }
     .bluebox .content h3{
         font-size: 26px;
         line-height: 32px;
         margin-bottom: 10px;
    }
     .bluebox .content p {
         font-size: 16px;
         line-height: 22px;
    }
     .bluebox .btn-learn-more{
         bottom: 32px;
    }
}
 @media(min-width:601px) and (max-width:992px){
     .bluebox .content h3 {
         font-size: 32px;
         font-weight: 400;
         line-height: 36px;
    }
    
     .bluebox .content {
         padding: 32px 52px;
    }
}
 @media(min-width:993px) and (max-width:1279px){
     .bluebox .content h3{
         font-size: 35px;
    }
     .bluebox .content {
         padding: 50px 50px;
    }
}
/*------- # Who we are ----------*/
 .whoweare {
     padding-top: 64px;
     position: relative;
     padding-bottom: 64px;
     background: rgba(245, 245, 245, 1);
}
 .whoweare .content h3 {
     font-weight: 600;
     font-size: 26px;
}
 .whoweare .section-title {
     padding-bottom: 32px;
}
 .whoweare .rightimg {
     position: absolute;
     right: 0px;
     top: 0px;
}
 .whoweare .content p {
     line-height: 40px;
     font-size: 28px;
     font-family: MavenPro Regular;
     color: #000;
     margin-bottom: 32px;
         
}
 .whoweare .content .btn-learn-more {
     font-weight: 700;
     text-transform: uppercase;
     font-size: 18px;
     display: inline-block;
     padding: 21px 39px;
     border-radius: 0px;
     transition: 0.5s;
     line-height: 21px;
     color: rgba(1, 30, 65, 1);
     font-family: MavenPro Bold;
     -webkit-animation-delay: 0.8s;
     animation-delay: 0.8s;
     border: 2px solid #011E41;
}
 @media(min-width:1280px) and (max-width:1400px){
     .whoweare .content p {
         line-height: 32px;
         font-size: 24px;
    }
}
 @media(max-width:767px){
     .whoweare{
         padding-top: 32px;
         padding-bottom: 32px;
    }
     .whoweare .content p {
         line-height: 22px;
         font-size: 18px;
    }
     .whoweare .content .btn-learn-more{
         font-size: 14px;
         padding: 12px 24px;
    }
}
/*--------- # Case Study----------*/
 .casestudy {
     background: rgba(245, 245, 245, 1);
     background-repeat: no-repeat;
     padding-top: 64px;
     padding-bottom: 163px;
     position: relative;
     background-position: right bottom;
}
 .casestudy.casestudyinner{
     padding-bottom: 116px;
}
 .casestudy .section-title {
     padding-bottom: 20px;
}
 .casestudy .content p {
     line-height: 19px;
     font-size: 16px;
     font-family: MavenPro Regular;
     color: #000;
     margin-bottom: 33px;
     padding-right: 10px;
}
 .casestudy p:last-child {
     margin-bottom: 56px;
}
 .casestudy .content .btn-learn-more {
     font-weight: 700;
     text-transform: uppercase;
     font-size: 18px;
     display: inline-block;
     padding: 21px 39px;
     border-radius: 0px;
     transition: 0.5s;
     line-height: 1;
     line-height: 21px;
     color: rgba(1, 30, 65, 1);
     font-family: MavenPro Bold;
     -webkit-animation-delay: 0.8s;
     animation-delay: 0.8s;
     border: 2px solid #011E41;
}
 .casestudy .video-title {
     font-family: MavenPro Regular;
     margin-bottom: 0px !important;
     font-size: 14px !important;
     margin-top: 7px !important;
     margin-left: 13px;
     color: #000;
}
 .casestudy .video-title span {
     font-family: TT Norms;
}
 .casestudy .casestudyimg{
     position: absolute;
     right: 0px;
     top: 0px;
     height: 100%;
}
 .casestudy .carousel-indicators [data-bs-target]{
     background-color: #CDCDCD;
     width: 105px;
     height: 7px;
     margin-right: 8px;
     margin-left: 8px;
}
 .casestudy .carousel-indicators [data-bs-target]:first-child{
     margin-left: 0px;
}
 .casestudy .carousel-indicators {
     position: absolute;
     right: unset;
     bottom: 63px;
     left: unset;
     z-index: 2;
     display: flex;
     justify-content: center;
     padding: 0;
     margin-right: 0px;
     justify-content: left;
     margin-left: 0px;
     list-style: none;
     top: unset;
     margin-bottom: 0px;
}
 .casestudy .carousel{
     position: static;
}
 .casestudy .carousel-item{
     position: static;
     overflow: hidden;
}
 @media(max-width:767px){
     .casestudy{
         padding-top: 32px;
        padding-bottom: 100px;
    }
     .casestudy.casestudyinner{
         padding-top: 32px;
        padding-bottom: 32px;
    }
     .casestudy .section-title {
         padding-bottom: 20px;
    }
     .casestudy .content p{
         padding-right: 0px;
    }
     .casestudy .casestudyimg{
         position: relative;
    }
     .casestudy{
         background-image: none;
    }
     .casestudy .carousel-indicators [data-bs-target]{
         width: 40px;
         height: 4px;
         margin-right: 0px;
    }
     .casestudy .casestudyimg{
         display: none;
    }
     .casestudy .content .btn-learn-more {
         font-size: 14px;
         padding: 12px 24px;
    }
}
 @media(min-width:601px) and (max-width:991px){
     .casestudy .casestudyimg{
         position: relative;
         display: none;
    }
     .casestudy{
         background-image: none;
    }
}
 @media(min-width:992px) and (max-width:1200px){
     .casestudy{
         padding-bottom: 73px;
         background-size: 38%;
    }
     .casestudy .casestudyimg {
         position: absolute;
         right: 0px;
         top: unset;
         height: 78%;
         bottom: 0px;
    }
     .casestudy.casestudyinner .casestudyimg{
         right: 0px;
    }
     .casestudy .carousel-indicators{
         bottom: 24px;
    }
     .casestudy .carousel-indicators [data-bs-target] {
         background-color: #CDCDCD;
         width: 75px;
         height: 4px;
         margin-right: 3px;
         margin-left: 3px;
    }
}
/*------- # Goal Study------------*/
 .goal.contentonly{
     padding-top:44px;
 }
 .goal .columnbox3 {
     padding: 12px 12px;
     flex: 0 0 auto;
     width: 33.3333333333%;
}
 .goal .hoverbox {
     background: rgba(197, 217, 231, 0.5);
     padding: 64px 64px;
     position: relative;
     min-height: 421px;
     align-self: center;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
}
 .goal.contentonly .hoverbox {
padding: 64px;
justify-content: flex-start;
    min-height: 100%;

 }
 .goal.contentonly .columnbox3:nth-child(even) .hoverbox{
     background: rgba(1, 30, 65, 1);
     color: #fff !important;
 }
 .goal.contentonly .columnbox3:nth-child(even) .hoverbox .content-title h3{
color: #fff;
 }
 .goal.contentonly .hoverbox .content-title h3 {
    margin-bottom: 27px;
 }
 .goal.contentonly .hoverbox p{
     
 }
 .goal .hoverbox .content-title h3 {
     margin-bottom: 37px;
     font-size: 35px;
     line-height: 50px;
     max-width: calc(100% - 5px);
     color: #000;
}
 .goal .hoverbox .content-title a img {
     height: 28px;
}
 .goal .hoverbox .content-overlay {
     background: rgba(1, 30, 65, 1);
     position: absolute;
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     bottom: 0;
     right: 0;
     opacity: 0;
     -webkit-transition: all 0.4s ease-in-out 0s;
     -moz-transition: all 0.4s ease-in-out 0s;
     transition: all 0.4s ease-in-out 0s;
}
 .goal .hoverbox:hover .content-overlay {
     opacity: 1;
}
 .goal .content-details {
     position: absolute;
     text-align: left;
     padding: 64px;
     width: 100%;
     height: 100%;
     top: 50%;
     left: 50%;
     opacity: 0;
     -webkit-transform: translate(-50%, -50%);
     -moz-transform: translate(-50%, -50%);
     transform: translate(-50%, -50%);
     -webkit-transition: all 0.3s ease-in-out 0s;
     -moz-transition: all 0.3s ease-in-out 0s;
     transition: all 0.3s ease-in-out 0s;
}
 .goal .hoverbox:hover .content-details {
     top: 50%;
     left: 50%;
     opacity: 1;
}
 .goal .content-details h3 {
     color: #fff;
     font-size: 36px;
     line-height: 54px;
     margin-bottom: 70px;
}
 .goal .content-details p {
     color: #fff;
     font-size: 16px;
     line-height: 22px;
     font-family: MavenPro Regular;
}
.goal .section-title {
    padding-bottom: 32px;
}
.goal .content p{
   line-height: 40px;
    font-size: 28px;
    font-family: MavenPro Regular;
    color: #000;
    margin-bottom: 32px; 
}
 .fadeIn-bottom {
     top: 80%;
}
@media (max-width: 1400px) and (min-width: 1280px){
   .goal .content p {
    line-height: 32px;
    font-size: 24px;
} 
}
 @media(min-width:1280px) and (max-width:1420px){
     .goal .hoverbox .content-title h3{
         font-size: 33px;
         line-height: 46px;
    }
     .goal .content-details h3 {
            font-size: 30px;
    line-height: 40px;
    }
}
 @media(max-width:767px){
     .goal .columnbox3{
         width: 100%;
    }
     .goal .hoverbox{
         padding: 32px 32px;
         min-height: 296px;
    }
     .goal .section-title{
         padding-bottom: 22px;
    }
     .goal .hoverbox .content-title h3{
         font-size: 24px;
         line-height: 32px;
    }
     .goal .content-details{
         padding: 32px;
    }
    .goal.contentonly .hoverbox{
        padding: 32px;
    }
     .goal .content-details h3{
         font-size: 24px;
         line-height: 32px;
         margin-bottom: 30px;
    }
   
        .goal .content p {
            line-height: 22px;
            font-size: 18px;
        }
     .goal .hoverbox .content-title a img{
         height: 18px;
    }
}
 @media(min-width:601px) and (max-width:992px){
     .goal .hoverbox{
         padding: 32px 32px;
    }
}
 @media(min-width:600px) and (max-width:1024px){
     .goal .columnbox3{
         width: 50%;
    }
}
/*---------- # Footer -----------*/
 #footer {
     background-color: rgba(1, 30, 65, 1);
     color: #fff;
     padding: 68px 66px;
}
 #footer .footermenu ul {
     list-style-type: none;
     display: inline-flex;
     padding-left: 0px;
}
 #footer .footermenu ul li {
     font-size: 16px;
     font-family: MavenPro Bold;
     padding: 0px 12px;
}
 #footer .footermenu ul li:first-child {
     padding-left: 0px;
}
 #footer .footermenu ul li a {
     color: #fff;
}
 #footer .footer-logo {
     margin-bottom: 17px;
     height: 48px;
}
 #footer .text {
     font-size: 16px;
     line-height: 18px;
     margin-bottom: 32px;
     font-family: MavenPro Regular;
}
 #footer .rightsidecontent {
     float: right;
}
 #footer .socialmedia {
    
     color: #fff;
}
 #footer .socialmedia  a{
     color: #fff;
 }
 #footer .socialmedia {
     font-family: MavenPro Regular;
     color: rgba(255, 255, 255, 1);
     margin-bottom: 28px;
     font-size: 16px;
     line-height: 18px;
}
 #footer .socialmedia img {
     margin-right: 15px;
}
 #footer .copyright p{
     font-family: MavenPro Regular;
     font-size: 16px;
     line-height: 18px;
     margin-bottom: 0px;
     color: rgba(255, 255, 255, 1);
}
 #footer .copyright a {
     color: #fff;
}
 @media(min-width:768px) and (max-width:992px){
     #footer .footermenu ul li {
         font-size: 14px;
         padding: 0px 6px;
    }
}
 @media(max-width:991px) {
     #footer .rightsidecontent {
         float: left;
         margin-top: 20px;
    }
}
 @media(max-width:767px){
     #footer{
         padding: 21px 21px;
    }
     #footer .footermenu ul{
         display: block;
         columns: 2 ;
         -webkit-columns: 2;
         margin-bottom: 24px;
    }
     #footer .footermenu ul li{
         padding-left: 0px;
    }
     #footer .text{
         margin-bottom: 0px;
         font-size: 13px;
    }
     #footer .copyright p{
         font-size: 13px;
         line-height: 15px;
    }
    #footer .socialmedia{
        font-size: 13px;
    }
     #footer .footermenu ul li {
         font-size: 13px;
         padding: 3px 0px;
    }
     #footer .footer-logo{
         height: 30px;
    }
}
 @media(min-width:601px) and (max-width:991px){
     #footer {
         padding: 68px 30px;
    }
     #footer .footermenu ul {
         display: block;
         columns: 2;
         -webkit-columns: 2;
         margin-bottom: 24px;
    }
     #footer .text{
         margin-bottom: 0px;
    }
     #footer .footermenu ul li{
         padding-left: 0px;
    }
}
/*-------- # Sub page banner ----------*/


 #banner {
     width: 100%;
     background: linear-gradient(135deg, rgba(0, 0, 0, 0.8) 0%, #0033A1 0%, #011E41 0%);
     background-size: cover !important;
     background-repeat: no-repeat !important;
         background-position: center center!important;
}
 #banner .banner-container {
     display: flex;
     justify-content: flex-end;
     align-self: center;
     align-items: flex-start;
     flex-direction: column;
     text-align: left;
     position: relative;
     min-height: 83vh;
     padding-bottom: 55px;
}
 @media(min-width:1200px) and (max-width:1399px){
     #banner .banner-container {
         max-width: calc(100% - 233px);
         width: calc(100% - 233px);
         padding-top: 80px;
    }
}
 @media(min-width:1400px){
     #banner .banner-container {
         max-width: calc(100% - 278px);
         width: calc(100% - 278px);
         padding-top: 80px;
    }
}
 #banner h1 {
       color: #fff;
    font-size: 64px;
    font-weight: 400;
    font-family: castoro;
    line-height: 69px;
    margin-bottom: 20px;
    width: 93%;
    text-transform: capitalize;
}
 #banner .subtext {
     margin-bottom: 32px;
     font-size: 24px;
     line-height: 24px;
}
 #banner p {
     width: 68%;
    color: #fff;
    font-family: MavenPro Regular;
    font-size: 26px;
    line-height: 33px;
    margin-bottom: 0px;
}
 #banner .btn-get-started {
     font-weight: 700;
     font-size: 18px;
     display: inline-block;
     padding: 21px 39px;
     border-radius: 0px;
     transition: 0.5s;
     line-height: 1;
     line-height: 21px;
     color: #fff;
     -webkit-animation-delay: 0.8s;
     animation-delay: 0.8s;
     border: 1px solid #ffffff85;
}
 #banner .btn-get-started:hover {
     text-decoration: none;
}
 @media(min-width:1367px) and (max-width:1439px){
     #banner .subtext {
         font-size: 24px;
         line-height: 24px;
    }
     #banner h1 {
         font-size: 74px;
         line-height: 74px;
    }
     #banner p {
         width: 64%;
         font-size: 28px;
         line-height: 37px;
         margin-bottom: 0px;
    }
}
 @media(min-width:769px) and (max-width:992px){
     #banner .banner-container {
         min-height: 60vh;
    }
     #banner h1 {
         font-size: 48px;
         line-height: 52px;
    }
     #banner p {
         width: 77%;
         font-size: 22px;
         line-height: 32px;
    }
}
 @media(min-width:991px) and (max-width:1024px){
     #banner .banner-container {
         min-height: 60vh;
    }
}
 @media(max-width:767px){
    
     #banner .banner-container{
         min-height: 28rem;
    }
     #banner .subtext {
         font-size: 14px;
         line-height: 24px;
         margin-bottom: 15px;
    }
     #banner .subtext span{
         font-size: 15px;
    }
}
/*------ # Overview -------*/
 .overview {
     padding: 64px 0px;
     /* padding-bottom: 71px; */
}
 .overview .section-title {
     padding-bottom: 32px;
}
 .overview .content p {
     line-height: 40px;
     font-size: 28px;
     font-family: MavenPro Regular;
     color: #000;
     margin-bottom: 0px;
     
}
 .overview .content .btn-learn-more {
     font-weight: 700;
     font-size: 18px;
     text-transform: uppercase;
     display: inline-block;
     padding: 21px 39px;
     border-radius: 0px;
     transition: 0.5s;
     line-height: 1;
     line-height: 21px;
     color: #000;
     -webkit-animation-delay: 0.8s;
     animation-delay: 0.8s;
     border: 1px solid #011E41;
}
 @media(max-width:767px){
     .overview{
         padding: 32px 0px;
    }
     .overview .content p{
         line-height: 22px;
         font-size: 18px;
    }
}
/*-------- # Description ---------*/
 .description .section-title {
     padding-bottom: 32px;
}
 .description .section-title h2{
     color: #000;
}
.description .section-title.blue{
    padding-bottom: 0px;
}
.description .section-title.blue h2{
    color: #0033A1;
}
.description .section-title.blue p{
    margin-bottom: 24px;
}
 .description .content p {
     line-height: 40px;
     font-size: 28px;
     font-family: MavenPro Regular;
     color: #000;
     margin-bottom: 64px;
     
}
 .description .content p.mr-btm-32 {
     margin-bottom: 32px;
}
 .description .content .btn-learn-more {
     font-weight: 700;
     font-size: 18px;
     text-transform: uppercase;
     display: inline-block;
     padding: 21px 39px;
     border-radius: 0px;
     transition: 0.5s;
     line-height: 1;
     line-height: 21px;
     color: #000;
     -webkit-animation-delay: 0.8s;
     animation-delay: 0.8s;
     border: 1px solid #011E41;
}
.subsection{
    padding-top: 38px;
}
.subsection p{
    margin-bottom: 24px !important;
}
.subsection .mb-0{
   margin-bottom: 0px !important;  
}
 @media(min-width:1280px) and (max-width:1400px){
     .description .content p {
         line-height: 32px;
         font-size: 24px;
    }
}
 @media(max-width:767px){
     .description .content p{
         line-height: 22px;
         font-size: 18px;
    }
}
/*----- # The world around ------*/
 .worldaround{
     background: rgb(240, 245, 249);
     padding-bottom: 40px;
}
 .worldaround .contentbox{
      background: #011E41;
    padding: 75px 32px;
    min-height: 95%;
    color: #fff;
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.worldaround  .col-md-12 .contentbox{
    min-height: 77%;
}
 .worldaround .section-title{
     padding-bottom: 32px;
}
 .worldaround .contentbox h3{
     font-size: 48px;
     line-height: 48px;
     margin-bottom: 32px;
     text-transform: capitalize;
}
 .worldaround .contentbox p{
     font-size: 24px;
     line-height: 29px;
     margin-bottom: 0px;
     
}
.worldaround .largedata .contentbox{
   min-height: 95%; 
}
.worldaround .largedata .col-md-12 .contentbox{
   min-height: 91%; 
}
.worldaround .largedata .col-12 .contentbox{
   min-height: 91%; 
}
.worldaround .largedata .col-lg-12 .contentbox{
   min-height: 91%; 
}
.worldaround .largedata .contentbox h3{
 font-size: 32px;
     line-height: 40px;
}
.worldaround .largedata  .contentbox p {
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 0px;
}
 @media(min-width:1280px) and (max-width:1420px){
     .worldaround .contentbox p{
         font-size: 20px;
         line-height: 25px;
    }
}
 @media(max-width:767px){
     .worldaround{
         padding-bottom: 32px;
    }
     .worldaround .contentbox{
         min-height: 180px;
    }
     .worldaround .contentbox h3{
         font-size: 32px;
         line-height: 32px;
    }
     .worldaround .contentbox p {
         font-size: 18px;
         line-height: 22px;
    }
     .worldaround .contentbox p {
         font-size: 18px;
         line-height: 22px;
    }
}
 @media(min-width:601px) and (max-width:767px){
     .worldaround .contentbox{
         padding: 47px 22px;
    }
     .worldaround .contentbox p{
         font-size: 20px;
         line-height: 26px 
    }
     .worldaround .contentbox h3 {
         font-size: 42px;
         line-height: 48px;
    }
}
/*------ # Approach-------*/
.approach{
    padding-bottom: 44px;
}
 .approach .section-title {
     padding-bottom: 32px;
}
 .approach .section-title h2{
     color: #000;
}
 .approach .content p{
     font-size: 28px;
     line-height: 40px;
     margin-bottom: 32px;
     
}
 @media(max-width:767px){
     .approach .content p{
         line-height: 22px;
         font-size: 18px;
    }
}
/*----------masonry-layout------------*/
 .masonry-layout .contentbluebox{
     padding: 64px;
     background: #011E41;
     min-height: 95%;
     color: #fff;
     margin-bottom: 24px;
}

 .masonry-layout .contentbluebox h3{
    font-size: 36px;
    line-height: 54px;
    margin-bottom: 20px;
    min-height: 95px
}
 .masonry-layout .contentbluebox p {
     font-size: 16px;
     line-height: 22px;
     margin-bottom: 0px;
     
}
 .masonry-layout.no-content .contentbluebox{
      min-height: 87%;
    display: flex;
    align-items: center
}
 .masonry-layout.no-content .contentbluebox h3{
   min-height: auto;
   margin-bottom: 0px;
}
 @media(min-width:601px) and (max-width:991px){
     .masonry-layout .contentbluebox h3 {
         margin-bottom: 12px;
         min-height: 63px;
    }
     .masonry-layout .contentbluebox h3 {
         font-size: 30px;
         line-height: 43px;
         margin-bottom: 17px;
    }
}
 @media(min-width:992px) and (max-width:1200px){
     .masonry-layout .contentbluebox h3 {
         margin-bottom: 12px;
         min-height: 63px;
    }
}
 @media(min-width:1280px) and (max-width:1420px){
     .masonry-layout .contentbluebox h3 {
         font-size: 28px;
         line-height: 38px;
    }
     .masonry-layout .contentbluebox {
         padding: 50px;
    }
}
 @media(max-width:767px){
     .masonry-layout .contentbluebox{
         padding: 32px;
         min-height: 271px;
    }
     .masonry-layout .contentbluebox h3 {
         font-size: 28px;
         line-height: 28px;
         min-height: auto;
    }
}
/*-------cta--------*/
 .cta{
     padding: 64px 0;
}
 .cta h3{
     font-size: 32px;
     line-height: 40px;
     margin-bottom: 0px;
}
 .cta .btn-learn-more{
     background: #0033A1;
     color: #fff;
     font-size: 18px;
     border:2px solid #0033A1;
     line-height: 21px;
     padding: 22px 40px;
     font-family: MavenPro Bold;
     text-transform: uppercase;
     display: block;
     max-width: max-content;
     float: right;
}
 .cta .btn-learn-more:hover{
     border:2px solid #0033A1;
     color: #0033A1 !important;
     background: transparent;
}
 @media(min-width:601px) and (max-width:901px){
     .cta {
         padding: 50px 0;
    }
     .cta h3 {
        font-size: 25px;
    line-height: 31px;
    }
}
 @media(max-width:767px){
     .cta{
         padding: 40px 0px;
    }
     .cta h3 {
         font-size: 22px;
         line-height: 22px;
         margin-bottom: 20px;
    }
     .cta .btn-learn-more{
         float: left;
         margin-top: 10px;
    }
     .cta .btn-learn-more{
         font-size: 14px;
         padding: 12px 24px;
    }
}
/*-----steps--------*/
 .steps{
     margin-top: 32px;
}
 .steps .step{
     background: rgba(245, 245, 245, 1);
     margin-bottom: 24px;
         height: 96%;
}
 .steps .step img{
     width: 100%;
}
 .steps .step .content{
      padding: 40px 32px 32px 32px;
    padding-bottom: 70px
}
 .steps .step .content h3{
     color: #000;
     font-size: 30px;
     line-height: 40px;
}
 .steps .step .content p{
     font-size: 18px;
     line-height: 29px;
     color: rgba(1, 30, 65, 1);
     padding-right: 8px;
     margin-bottom: 0px;
     text-align: left;
}
 @media(max-width:767px){
     .steps .step .content h3{
         font-size: 27px;
         line-height: 32px;
    }
    
     .steps .step .content p {
         font-size: 18px;
         line-height: 24px;
    }
    .steps .step .content{
        min-height: auto;
    }
}
/*------------Vision------------*/
 .vision{
     padding: 52px 0px;
     background: url(../img/our-vision.svg);
     background-size: cover;
     color: #fff;
}
 .vision .subtext{
     font-size: 24px;
     line-height: 24px;
     text-transform: uppercase;
     margin-bottom: 32px;
}
 .vision .section-title{
     padding-bottom: 0px;
}
 .vision .section-title h2{
     color: #fff;
}
 @media(max-width:767px){
     .vision {
         padding: 32px 0px;
    }
     .vision .subtext {
         font-size: 20px;
         line-height: 20px;
    }
     .section-title h2 {
         font-size: 26px;
         line-height: 31px;
    }
}
/*----Values-----*/
 .values{
     background: rgba(240, 245, 249, 1);
}
 .values .section-title{
     padding-bottom: 32px;
}
 .whitebgbox{
     padding: 32px;
     background: #fff;
     min-height: 288px;
     justify-content: center;
     display: flex;
     flex-direction: column;
}
 .whitebgbox h3{
     font-size: 32px;
     line-height: 32px;
     margin-bottom: 32px;
}
 .whitebgbox p{
     font-size: 24px;
     line-height: 29px;
     margin-bottom: 0px;
}
 @media(min-width:1280px) and (max-width:1420px){
     .whitebgbox p{
         font-size: 20px;
         line-height: 25px;
    }
}
 @media(min-width:601px) and (max-width:992px){
     .whitebgbox h3{
         font-size: 25px;
         line-height: 32px;
    }
     .whitebgbox p {
         font-size: 16px;
         line-height: 24px;
    }
}
 @media(max-width:767px){
     .whitebgbox{
         margin-bottom: 10px;
         min-height: 227px;
    }
     .whitebgbox p{
         font-size: 18px;
         line-height: 22px;
    }
     .whitebgbox h3 {
         font-size: 26px;
         line-height: 28px;
    }
}
/*--------location--------*/
 .location{
     background: #F0F5F9;
}
 .location .locationbox{
     background: #fff;
}
 .locationbox img{
     width: 100%;
}
 .location .locationbox .content{
     padding: 21px 5px;
}
 .location .locationbox h3{
     font-size: 36px;
     line-height: 40px;
     margin-bottom: 5px;
}
 .location .locationbox .country{
     font-size: 24px;
     line-height: 24px;
     margin-bottom: 0px;
}
 @media(min-width:1280px) and (max-width:1400px){
     .location .locationbox h3 {
         font-size: 32px;
         line-height: 35px;
    }
}
 @media(max-width:767px){
     .location .locationbox h3 {
         font-size: 24px;
         line-height: 22px;
    }
     .location .locationbox .country {
         font-size: 18px;
         line-height: 22px;
    }
}
/*career*/
/*---company intro----*/
 .companyintro{
     padding: 0px 0px;
}
 .companyintro .bluebox .content{
     justify-content: center;
     display: flex;
     flex-direction: column;
}
 .companyintro .bluebox .imagecontent{
    height: 100%;
}
 .companyintro .bluebox .content p{
     margin-bottom: 0px;
}
 @media(max-width:767px){
     .companyintro .bluebox .content {
         padding: 32px;
         min-height: 261px;
    }
     .companyintro .bluebox .imagecontent{
         height: 199px;
    }
}
/*career*/
 .opportunities{
     padding: 64px 0px;
     padding-bottom: 44px;
}
 .opportunities .career-position{
     background: #F0F5F9;
     padding: 64px;
     min-height: 314px;
     margin-bottom: 24px;
}
 .opportunities .career-position h3{
     font-size: 36px;
     line-height: 36px;
     margin-bottom: 32px;
}
 .opportunities .career-position p{
     font-size: 24px;
     line-height: 24px;
     margin-bottom: 32px;
}
 .opportunities .career-position a{
     padding: 22px 40px;
     color: #011E41;
     font-family: MavenPro Bold;
     border: 2px solid #011E41;
     max-width: 240px;
     text-align: center;
     display: block;
     text-transform: uppercase;
     font-size: 18px;
     line-height: 21px;
}
 @media(max-width:767px){
     .opportunities .career-position{
         padding: 32px;
    }
     .opportunities .career-position h3 {
         font-size: 24px;
         margin-bottom: 16px;
         line-height: 32px;
    }
     .opportunities .career-position a {
         padding: 15px 19px;
         font-size: 14px;
    }
     .opportunities .career-position p{
         font-size: 18px;
    }
     .opportunities .career-position{
         min-height: auto;
    }
}
 @media(min-width:768px) and (max-width:991px){
     .opportunities .career-position h3{
         font-size: 20px;
         line-height: 30px;
    }
     .opportunities .career-position p {
         font-size: 18px;
         line-height: 24px 
    }
}
/*contact us*/
 .contact-form {
     margin-top: 64px;
}
 .contact-form .form-group{
     margin-bottom: 32px;
}
 .contact-form .form-group label{
     font-family: castoro;
     font-size: 24px;
     margin-bottom: 24px;
}
 .contact-form .form-group .form-control{
     border-color: #000;
     border-radius: 0px;
     padding: 11px 10px;
     border-width: 1px;
     box-shadow: none;
     color: #000;
     border: 1px solid #000;
}
 .contact-form .form-group textarea{
     height: 144px;
}
 .contact-form button{
     color: rgba(1, 30, 65, 1);
     width: 204px;
     line-height: 21px;
     font-size: 18px;
     background: transparent;
     padding: 20px;
     border: 2px solid #011E41;
     text-transform: uppercase;
     font-family: MavenPro Bold;
}
 .enquiry{
     background: rgba(1, 30, 65, 1);
     padding: 32px;
     height: 273px;
     color: #fff;
     display: flex;
     flex-direction: column;
     justify-content: center;
     width: 282px;
     margin: 116px auto;
     margin-bottom: 0px;
}
 .enquiry h3{
     font-size: 24px;
     line-height: 24px;
     margin-bottom: 16px;
}
 .enquiry a{
     color: #fff;
     font-size: 16px;
     line-height: 16px;
}
 @media(max-width:767px){
     .enquiry{
         height: 204px;
         width: 100%;
         margin: 32px auto;
    }
     .contact-form {
         margin-top: 32px;
    }
     .contact-form .form-group label {
         font-size: 16px;
         margin-bottom: 16px;
    }
     .contact-form button{
         padding: 15px 19px;
         width: 100%;
         font-size: 14px;
    }
}
 @media(max-width:1024px){
     .enquiry{
         width: 100%;
         padding: 16px;
    }
}
 @media(min-width:1600px) and (max-width:1799px){
     .bluebox .content{
         height: 100%;
    }
     .bluebox .imagecontent {
         height: 100%;
    }
       .companyintro .bluebox .content{
          min-height: 100%;  
    }
}
/*sercvices banner*/

 .services{
     background: #fff;
}
 /* .services .container-fluid {
    max-width: calc(100% - 268px);
    width: calc(100% - 268px);
} */

.service-banner-1{
background: url(../img/services/banner/services_cx_audits_img.jpg) !important;
}
.service-banner-2{
  background: url(../img/services/banner/services_digital_img.jpg) !important;  
}
.service-banner-3{
   background: url(../img/services/banner/services_engineering_pods_img.jpg) !important; 
}
.service-banner-4{
   background: url(../img/services/banner/services_experience_design_product_img_1.jpg) !important; 
}
.service-banner-5{
   background: url(../img/services/banner/services_prodcut_img.jpg) !important; 
}
.service-banner-6{
  background: url(../img/services/banner/services_technical_img.jpg) !important;  
}

@media(max-width:768px){
    .service-banner-1{
background: url(../img/services/mobile/services_cx_audits_img_ipad.jpg) !important;
}
.service-banner-2{
  background: url(../img/services/mobile/services_digital_img_ipad.jpg) !important;  
}
.service-banner-3{
   background: url(../img/services/mobile/services_engineering_pods_img_ipad.jpg) !important; 
}
.service-banner-4{
   background: url(../img/services/mobile/services_experience_design_product_img_1_ipad.jpg) !important; 
}
.service-banner-5{
   background: url(../img/services/mobile/services_prodcut_img_ipad.jpg) !important; 
}
.service-banner-6{
  background: url(../img/services/mobile/services_technical_img_ipad.jpg) !important;  
}
.banner-container{
justify-content: flex-end !important;
padding-bottom: 15px !important;
}
#banner h1 {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 10px;
    width: 100%;
}
#banner p {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
}
}



/*goal banner*/



.goal-banner-1{
background: url(../img/goals/accerate-sales.jpg) !important;
}
.goal-banner-2{
  background: url(../img/goals/build-better-product.jpg) !important;  
}
.goal-banner-3{
   background: url(../img/goals/build-data-intelligence.jpg) !important; 
}
.goal-banner-4{
   background: url(../img/goals/modern-digital-experience.jpg) !important; 
}
.goal-banner-5{
   background: url(../img/goals/optimize-operation.jpg) !important; 
}
.goal-banner-6{
  background: url(../img/goals/startegic-information.jpg) !important;  
}

@media(max-width:992px){
    .goal-banner-1{
background: url(../img/goals/mobile/accelerate-sales.jpg) !important;
}
.goal-banner-2{
 background: url(../img/goals/mobile/build-better-product.jpg) !important;  
}
.goal-banner-3{
   background: url(../img/goals/mobile/build-data-intelligence.jpg) !important; 
}
.goal-banner-4{
   background: url(../img/goals/mobile/improve-digital-experirnce.jpg) !important; 
}
.goal-banner-5{
   background: url(../img/goals/mobile/optimised-operation.jpg) !important; 
}
.goal-banner-6{
  background: url(../img/goals/mobile/transform-your-enterprise.jpg) !important;  
}
.banner-container{
justify-content: flex-end !important;
padding-bottom: 15px;
}

#banner h1 {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 10px;
    width: 100%;
}
#banner p {
    font-size: 14px;
    line-height: 16px;
    width: 100%;
}
}



}
@media(min-width:992px) and (max-width:1024px){
    .worldaround .largedata .contentbox h3 {
    font-size: 26px;
    line-height: 32px;
}

}

@media(min-width:768px) and (max-width:991px){
    .worldaround .largedata .contentbox h3 {
    font-size: 26px;
    line-height: 32px;
}

}
@media(min-width:1200px) and (max-width:1399px){
    .worldaround .largedata .contentbox p {
    font-size: 17px;
    line-height: 22px;
    margin-bottom: 0px;
}
.worldaround .largedata .contentbox h3 {
    font-size: 27px;
    line-height: 32px;
    min-height: auto;
}

}
@media(min-width:1400) and (max-width:1900px){
    .worldaround .largedata .contentbox p {
    font-size: 19px;
    line-height: 22px;
    margin-bottom: 0px;
}
}



.masonry-layout div:nth-child(1) .contentbluebox{
  background: #011E41;
    opacity: 75%;
}
.masonry-layout div:nth-child(2) .contentbluebox{
  background: #011E41;
    opacity: 80%; 
}
.masonry-layout div:nth-child(3) .contentbluebox{
   background: #011E41;
    opacity: 85%; 
}
.masonry-layout div:nth-child(4) .contentbluebox{
   background: #011E41;
    opacity: 90%;
}
.masonry-layout div:nth-child(5) .contentbluebox{
  background: #011E41;
    opacity: 95%; 
}
.masonry-layout div:nth-child(6) .contentbluebox{
   background: #011E41;
    opacity: 100%; 
}
.masonry-layout div:last-child .contentbluebox{
  background: #011E41;
    opacity: 100%;
}